# Ignorar arquivos do Angular
/dist
/tmp
/out-tsc
/bazel-out

# Ignorar dependências do Node
/node_modules

# Ignorar arquivos de logs do npm
npm-debug.log
yarn-error.log

# IDEs e editores
.idea/
.project
.classpath
.vscode/
*.sublime-workspace

# Sistema de arquivos
.DS_Store
Thumbs.db
