body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
  }
  
  .container {
    max-width: 900px;
    margin-top: 20px;
  }
  
  h2 {
    text-align: center;
  }
  
  button {
    width: 100%;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav li {
    display: inline;
    margin-right: 10px;
  }
  
  a {
    cursor: pointer;
    text-decoration: none;
    color: blue;
  }
  